<footer>

<a href="https://www.linkedin.com/in/edwinbaby"><img class="pic-linkedin" src="./img/linkedin.JPG"></a>
<a href="https://www.facebook.com/edwinbabym"><img class="pic-linkedin " src="./img/facebook.png"></a>
</footer>
    
