<!DOCTYPE html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/images.jpg">
    <link rel="stylesheet" href="./css/styles.css">
    

</head>

<body>
    <div class="flow">
      {{>header}}
      <img class="about-img" src="./img/edwin.JPG">
      {{>footer}}    
    </div>
    
</body>
</html>