<!DOCTYPE html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/images.jpg">
    <link rel="stylesheet" href="./css/styles.css">
    

</head>

<body>
    <div class="flow">
      {{>header}}
      <p> This app uses data from mapbox.com and darksky.net </p>
      <img class="about-img" src="./img/rn.jpg">
      <img class="about-img" src="./img/rn2.jpg">
      <img class="pic" src="./img/rn3.jpg">
      <img class="about-img" src="./img/robot.png">
      {{>footer}}    
    </div>
    
</body>
</html>