<!DOCTYPE html>
<head>

</head>
 <title>Help</title>
 <link rel="icon" href="/img/img.png">
 <link rel="stylesheet" href="./css/styles.css">
<body>
    <div class="flow">
        {{>header}}
        <p>{{text}}</p>
        
    </div>
    {{>footer}}

</body>
</html>